* {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #3aa0ff;
    transition: all 0.3s;
}

html {
    max-width: 100vw;
}

body,
main,
header,
footer {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* HEADER ---------------------------------------------------------*/

.navbar {
    z-index: 1;
    position: sticky;
    left: 0;
    top: 0;
    background: aliceblue;
    padding: 1rem 0;
}

.navbar>.container {
    max-width: 80%;
    margin: 0 auto;
}

.navbar__wrap {
    display: flex;
    justify-content: left;
    height: 100%;
}

.hamb {
    display: none;
}

.popup {
    display: none;
}

.menu>li>a {
    text-decoration: none;
}

.menu {
    padding-left: 1rem;
}

.author-logo {
    margin-left: auto;
}

.navbar__wrap .menu {
    display: flex;
    width: 100%;
}

.navbar__wrap .menu>li {
    display: flex;
}

.navbar__wrap .menu>li>a {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.navbar__wrap .menu>li:first-child>a {
    padding: 0;
}

@media screen and (max-width: 1000px) {
    .menu {
        padding-left: 0;
    }
    .logo {
        padding-left: 1rem;
    }
    .navbar__wrap .menu {
        display: none;
    }
    .hamb {
        display: flex;
        align-items: center;
    }
    .hamb__field {
        cursor: pointer;
    }
    .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 6px auto;
        background-color: black;
        transition: 0.2s;
    }
    .popup {
        position: fixed;
        top: 3rem;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: aliceblue;
        z-index: 100;
        display: flex;
        transition: 0.3s;
    }
    .popup.open {
        left: 0;
    }
    .popup .menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 50px 0;
        overflow: auto;
    }
    .popup .menu>li {
        width: 100%;
    }
    .popup .menu>li>a {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        font-size: 20px;
        font-weight: bold;
        color: #3f3f3f;
    }
    .hamb__field.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamb__field.active .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
    .hamb__field.active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
    body.noscroll {
        overflow: hidden;
    }
}


/* MAIN ---------------------------------------------------------*/

main {
    /* background-color: aliceblue;
  background-image: url("/assets/img/main-cloud1.jpg");
  background-size: 2000px 1100px;
  background-attachment: fixed;
  padding: 2rem 10rem; */
    /* height: 30rem; */
    height: 93vh;
    width: 100vw;
}

.map {
    width: 100%;
    height: 100%;
}